body {
    margin: 0;
    font-family: sans-serif;
    background-color: #056679;
}

body::-webkit-scrollbar {
    display: none;
}

.todoapp-container {
    width: 350px;
    margin: auto;
    margin-top: 120PX;
    text-align: center;
    border-radius: 15px;
}

.input-section {
    background-color: #055565;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #000000;
}

.todoapp-container h1 {
    color: #08869e;
    margin: 0;
    margin-bottom: 15px;
}

.input-section input {
    border: 2px solid #056e83;
    color: #08869e;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #055565;
    outline: none;
}

.input-section input::placeholder {
    color: #08869e;
}

ul {
    text-align: left;
    padding: 0;
    list-style: none;
}

ul li {
    padding: 15px;
    background-color: #055565;
    color: #08869e;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px #000000;
    display: flex;
    /* position: relative; */

}

ul li div {
    text-align: right;
    flex: 1;
    width: 30px;
}

ul li i {
    cursor: pointer;
    margin: 5px;
}

ul li i:hover {
    color: #000000;
}

ul input {
    /* position: absolute; */
    width: 100%;
    box-sizing: border-box;
    background-color: #055565;
    color: #08869e;
    border: 2px solid #055565;
    border-radius: 5px;
    outline: none;
}

@media (max-width:768px) {
    .todoapp-container {
        margin-top: 100PX;
    }
}

@media (max-width:375px) {
    .todoapp-container {
        /* width: 275px; */
        width: auto;
        padding: 10px;
        font-size: small;
    }

    .input-section {
        padding: 10px;
    }

    .input-section input {
        padding: 8px;
    }

    ul li {
        padding: 8px;
    }
}